@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <button id="harnessButton" style="background-color: #0092E4; color: white;">Harness</button>
    <p id="displayText" style="display: none;">The Modern Software Delivery Platform®</p>
</div>

@section Scripts {
    <script>
        document.getElementById("harnessButton").addEventListener("click", function() {
            document.getElementById("displayText").style.display = "block";
        });
    </script>
}
